body {
    color: #4B3832;
    background-color: #fff4e6;
}     

a {color: #be9b7b;
    text-decoration: none;
}

nav {background-color: #854442;}
nav a {color: #fff4e6;}
nav a:hover {background-color: #be9b7b;}
nav {
    padding: 10px;
    margin-bottom: 30px;
}

.homewrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.homeflex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.hometext {
    flex-basis: 60%;
}

.homephoto {
    flex-basis: 40%;
    text-align: right;
}

.homephoto img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

.mapsection {
    text-align: center;
    margin-top: 40px;
}

.mapsection img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

@media screen and (max-width: 760px) {
    nav a {
        display: block;
        width: 100%;
    }

    .hometext, .homephoto {
        flex-basis: 100%;
        text-align: center;
    }

    .homephoto img {
        max-width: 250px;
    }
}

.tipswrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.paris, .southafrica, .japan, .westtrip {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;
}

.text {
    flex-basis: 55%;
    padding-right: 20px;
}

.photo {
    flex-basis: 45%;
    text-align: center;
}

.photo img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 760px) {
    nav a {
        display: block;
        width: 100%;
    }

    .paris, .southafrica, .japan, .westtrip {
        flex-direction: column;
        text-align: center;
    }

    .text, .photo {
        flex-basis: 100%;
    }



    .photo img {
        max-width: 250px;
        margin: 20px auto;
    }
}